@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}

<div class='meio pad'>
    <h1>Stock<span style='color: blue'>Up</span></h1>
    <h2>Gerencie seu estoque com um <span style='color: blue'>sistema simples e pratico.</span></h2>
    <p>Tenha sempre em mãos o controle de seus estoques pessoais, evitando desperdicio de tempo e dinheiro.</p>
    <p><button class='btn btn-primary btn-lg' onclick='window.location.href = "/Usuarios/Login"'>Comece agora</button>
</div>

<div class='meio noshow'>
    <p><img src='~/img/imagem-direita.png' /></p>
</div>