@page
@{
    Layout = "_Layout2";
}
<div id='dashboard'>
    <h2>Informações do produto</span></h2>
    <table class="table table-striped ">
        <tbody>
            <tr>
                <th>ID</th>
                <td>BR073</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>Arroz</td>

            </tr>
            <tr>
                <th>Unidade</th>
                <td>pct</td>
            </tr>
            <tr>
                <th>Preço</th>
                <td>8,20</td>
            </tr>
            <tr>
                <th>Quant.</th>
                <td>21</td>
            </tr>
            <tr>
                <th>Estoque mínimo</th>
                <td>10</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>Alimentos</td>
            </tr>

            <tr>
                <th>Fornecedor</th>
                <td>Vilma Alimentos</td>
            </tr>

        </tbody>
    </table>
    <p>
        <input type='button' value='Editar' class='btn btn-primary' onclick='window.location.href="/Home/EditarProduto"' />
    </p>

</div>