@page
@{
	Layout = "_Layout3";
}
<div id='dashboard'>

<h3>Templates</h3>
	<ul style="font-size:20px;">
		<li><a href="/Home/Login">Login</a></li>
		<li><a href="/Home/CadastrarSenha">Cadastrar Senha</a></li>
		<li><a href="/Home/DashboardTabela">Lista de Produtos</a></li>
		<li><a href="/Home/InformacoesDoProduto">Visualizar Produto</a></li>
		<li><a href="/Home/EditarProduto">Editar Produto</a></li>
	</ul>
</div>
